#cover{
    
}
#cover h1{
    /* z-index: 330000; */
    font-size: 120px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lovers Quarrel', cursive;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 1); */
}
#cover h1:hover{
    color: red;
}
#cover img:hover h3{
    display: block;

}
#page2 a{
/* z-index: 1000; */
}
#cover h3{
    display: none;
}